<%= form_with(model: project, local: true) do |form| %>
  <% if project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :project_name %>
  </div>

  <div class="field">
    <%= form.label :image_url %>
    <%= form.text_field :image_url, id: :project_image_url %>
  </div>

  <div class="field">
    <%= form.label :company %>
    <%= form.text_field :company, id: :project_company %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_area :address, id: :project_address %>
  </div>

  <div class="field">
    <%= form.label :stage %>
    <%= form.text_field :stage, id: :project_stage %>
  </div>

  <div class="field">
    <%= form.label :due_date %>
    <%= form.date_select :due_date, id: :project_due_date %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :project_description %>
  </div>

  <div class="field">
    <%= form.label :extra_info %>
    <%= form.text_area :extra_info, id: :project_extra_info %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
